{% load static %}
<title>{% block title %}{% endblock %}</title>
<link href="{% static 'style.css' %}" rel="stylesheet">

<header>
    BFDjango TODO
</header>

<div class="todo-container">
    <div class="todo-list">
        <div class="todo-row bottom-border">
            <button class="col-blue">Add task</button>
        </div>
        <div class="todo-row bottom-border">
            <h1>Completed Tasks in "List 1"</h1>
        </div>
        <div class="todo-row bottom-border">
            {% with 'Task Created Due Owner Mark' as column_names %}
                {% for column_name in column_names.split %}
                    <div class="todo-row-columns"><strong>{{ column_name }}</strong></div>
                {% endfor %}
            {% endwith %}
        </div>

        {% for item in todo_list %}
            <div class="todo-row bottom-border">
                <div class="todo-row-columns">{{ item.name }}</div>
                <div class="todo-row-columns">{{ item.created }}</div>
                <div class="todo-row-columns">{{ item.due }}</div>
                <div class="todo-row-columns">{{ item.owner }}</div>
                <div class="todo-row-columns">
                    <button class="col-cyan">
                        {% if item.done %}
                        Undone
                        {% else %}
                        Done
                        {% endif %}
                    </button>
                </div>
            </div>
        {% endfor %}

        <div class="todo-row">
            <button class="small-right-margin col-yellow">View incomplete tasks</button>
            <button class="small-right-margin col-red">Delete this list</button>
        </div>
    </div>
</div>
